[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/websocketpp"]
	path = deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/libmediasoupclient"]
	path = deps/libmediasoupclient
	url = https://github.com/versatica/libmediasoupclient.git
[submodule "deps/libsdptransform"]
	path = deps/libsdptransform
	url = https://github.com/ibc/libsdptransform.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/concurrentqueue"]
	path = deps/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
